*{
	margin: 0px;
	padding: 0px;
}

/*header start*/

header{
background-color: #121B2A;
padding: 10px 0;
}

.wrapper {
	/*border: 5px solid green;*/
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	width: 15%;
	/*border: 2px solid white;*/
	float: left;


}
.logo img {
	width: 100%;
}

.menu {
	width: 70%;
	float: right;
	margin-top: 25px;
}
.menu ul{
	float:  right;

}
.menu ul li{
float: left;
}
.menu ul li a{
text-decoration: none;
padding: 5px 15px;
display: block;
color: white;
transition: 0.5s;
}
.menu ul li : last-child a{
padding-right: 0;
}

.menu ul li:last-child a{
	padding-right: 0px;}

	/*banner starts*/

.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*min-height: 400px;*/
}
.banner-content{
	margin-top: 200px;
	margin-bottom: 50px;
	width: 40%;

}
.banner-content p:first-child{
	color: white;
	font-size: 30px;
	font-family: sans-serif;
}


.banner-content h1{
	font-family: sans-serif;
	color: #0077bc;
	font-size: 30px;
}

.banner-content p:nth-last-child(2) {
	font-family: sans-serif;
	font-size: 13.5px;
	color: white;
	line-height: 1.5;
}

.banner-content button{
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	color: #959595;
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
	background-color: white;
	text-transform: uppercase;
}
.banner-content button span{
	background-color: #0077bc;
	padding: 3px 6px;
	border-radius: 50%;
	color: white;
	margin-left: 10px;
}

/*banner ends*/